:root {
    /* Layout Widths */
    --mobile-width: 375px;
    --desktop-width: 1440px;
    
    /* Colors */
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);
    --neutral-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--primary-cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body p {
    font-size: 14px;
}

main {
    max-width: calc(1440px * 0.4);
    display: flex;
}

.img-container {
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.copy-container {
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
}